@import '../../styles/variables';

.button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;

  &--c {
    &--light {
      background-color: $gray;
    }

    &--dark {
      background-color: $black;
      color: #fff;
    }
  }
}
