@import '../../styles/variables';

.counter {
  display: flex;
  gap: 2px;
  font-weight: 500;

  &__box {
    width: 40px;
    padding: 10px;
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    text-align: center;

    &:last-child,
    &:first-child {
      cursor: pointer;
    }
  }

  &__inc {
    transform: rotate(180deg);
  }
}
