@import '../../styles/variables';

.cart {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;

  &__overall {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    background-color: $gray;
    max-width: 400px;
    width: 100%;
    height: 100px;
  }

  &__amount {
    font-weight: 700;
  }
}
