.cart {
  &__products {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
  }

  &__empty {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
